<div class="dashboard-container">
    <div class="dashboard-header">
        <h2>Users</h2>
        <div class="dashboard-actions">
          <button (click)="deleteSelectedUsers()">Delete Selected</button>
          <button (click)="selectUserForUpdate()">Update Selected</button>
        </div>
    </div>
    <ul>
      <li *ngFor="let user of users">
        <input type="checkbox" [(ngModel)]="user.selected">
        {{ user.username }} ({{ user.email }})
      </li>
    </ul>
    <div *ngIf="selectedUser">
        <h3>Update User</h3>
        <form (ngSubmit)="updateUser()" #updateForm="ngForm">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" class="form-control"
                   required [(ngModel)]="selectedUser.username" name="username" #usernameField="ngModel">
            <div *ngIf="usernameField.invalid && usernameField.touched" class="error">
              Username is required.
            </div>
          </div>
      
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control"
                   required email [(ngModel)]="selectedUser.email" name="email" #emailField="ngModel">
            <div *ngIf="emailField.invalid && emailField.touched" class="error">
              <div *ngIf="emailField.errors?.['required']">Email is required.</div>
              <div *ngIf="emailField.errors?.['email']">Invalid email format.</div>
            </div>
          </div>
      
          <button type="submit" class="btn btn-primary" [disabled]="!updateForm.valid">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="cancelUpdate()">Cancel</button>
        </form>
      </div>
      <button class="logout" (click)="logout()">Log Out</button>
</div>
  